.hero-unit {
/*    margin-top:66px;*/
    padding-bottom:30px;
    color: #46332D;
    background-image:url('img/bkg-r.png');
    background-repeat: repeat-y;
    background-position: right;
    background-color: #FFD751;
    text-align:center;
}

.hero-unit h1 {
    font-size: 40px;
}


.navbar-nav li a {
    cursor:pointer;
}

#main {
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    text-align:center;
    display:none;
    font-size:22px;
}

#footer {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#main h2 {
    font-size:32px;
}

#info {
    margin-top:20px;
    margin-left:10px;
    width:100%;
    text-align:center;
    margin-bottom:10px;
    height:32px;
    font-size:24px;
}

#search-form button {
    background-color: #EE5D0A;
    color: #F6EECF;
}

#filter-graph {
/*    background-color: #fff;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;

}

.filter-btn {
    height: 5em;
    margin: 40px 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.filter-btn:hover {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#graph-display {
    margin-top: 80px;
}

#viz {
    background-color: #eee;
/*    background-image:url('img/stardust.png');*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

