.hero-unit {
/*    margin-top:66px;*/
    padding-bottom:30px;
    color: #46332D;
    background-image:url('img/bkg-r-2.png');
    background-repeat: repeat-y;
    background-position: right;
    background-color: #FFD751;
    text-align:center;
}

.hero-unit h1 {
    font-size: 38px;
}


.navbar-nav li a {
    cursor:pointer;
}

#main {
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    text-align:center;
    display:none;
    font-size:22px;
}

#footer {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#footer-rsp {
    background-color: #FFD751;
}

#main h2 {
    font-size:32px;
}

#info {
/*    margin-top:20px;*/
    margin-left:10px;
    width:100%;
    text-align:center;
    margin-bottom:10px;
    height:32px;
    font-size:24px;
}

#search-form button {
    background-color: #8DBD7C;
    border: 3px solid #F6EECF;
    font-size: 20px;
    color: #F6EECF;
    outline: none;
}

#filter-graph {
/*    background-color: #fff;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;

}

.filter-btn {
    height: 5em;
    margin: 40px 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.filter-btn:hover {
    -webkit-transform: rotate(+10deg);
    -moz-transform: rotate(+10deg);
    -o-transform: rotate(+10deg);
    -ms-transform: rotate(+10deg);
    transform: rotate(+10deg);
}

#graph-display {
    margin-top: 80px;
}

#viz {
    background-color: #eee;
/*    background-image:url('img/stardust.png');*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.suggest-schedule {
    background-color: #46332D;
    margin: 15px auto;
    width: 80%;
    min-height: 80px;
    color: #fff;
    line-height: 80px;
}
